*.iml
**/package-lock.json
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
.preview
*/.preview
/captures
.externalNativeBuild
.cxx
/node_modules
/.hvigor
/.clangd
/.clang-format
/.clang-tidy
**/oh-package-lock.json5
**/oh_modules